* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    border-style: none;
    padding: 10px;
    border-radius: 0.5rem;
    color: white;
    background-color: rgb(63, 172, 58);
    font-size: medium;
    transition: 200ms;
    box-shadow: 2px 2px 4px rgb(105, 105, 105);
}

button:hover{
    background-color: rgb(62, 155, 57);
    transition: 200ms;
}

p.note{
    color: rgb(85, 85, 85);
    margin: 2px;
    font-size: smaller;
}